<ion-modal-view>
 <ion-header-bar class="bar-clear" >
   <h1 class="title">Settings</h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="closeSettings()">Close</button>
    </div>
 </ion-header-bar>

 <ion-content>


  <label class="item item-input item-select item-clear">
    <div class="input-label">
      Temperature
    </div>
    <select ng-model='WeatherService.temp'>
      <option value='f'>F</option>
      <option selected value='c'>C</option>
    </select>
  </label>



   <label class="item item-input item-select item-clear">
  <div class="input-label">
      Wind Speed
    </div>
    <select>
      <option>mph</option>
      <option selected> km/h</option>
       <option>m/s</option>
        <option>knots</option>

    </select>
  </label>


</div>


 </ion-content>

</ion-modal-view>
