<ion-modal-view>
 <ion-header-bar class="bar-clear" >
   <h1 class="title">Share</h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="closeShare()">Close</button>
    </div>
 </ion-header-bar>

 <ion-content class="share">


<div class="button-bar">
  <a class="button button-outline button-large"><i class="icon ion-email"></i><br>Mail</a>
  <a class="button button-outline button-large"><i class="icon icon-large ion-social-facebook"></i><br>Facebook</a>
  <a class="button button-outline button-large"><i class="icon icon-large ion-social-instagram"></i><br>Instagram</a>
</div>

<div class="button-bar">
  <a class="button button-outline button-large"><i class="icon ion-ios-download"></i><br>Save image</a>
  <a class="button button-outline button-large"><i class="icon ion-ios-copy"></i><br>Copy</a>
  <a class="button button-outline button-large"><i class="icon ion-more"></i><br>More</a>
</div>


 </ion-content>

</ion-modal-view>